body, html {
    background-color: #f0f2f5;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    height: 100vh;
    text-rendering: optimizeLegibility;
}



/*Estilos login lo modique todo*/
.form-control{
	border: 2px solid #204ee8 ;
	padding: 0 10px;
	font-size: 18px;
	color: #000000	;
	border-radius: 10px;
	
}
/*le indico que toodo el texto se centre en input**/
.form-control:hover{
	color: #000000	;
	border: 3px solid #9E8010;
	
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
}
/*le indico que todo el texto se centre en input**/
.form-control:focus{
	border: 2px solid #204ee8;
}
/***estilos para el text dentro de input**/
.form-control::placeholder{
	color: #000000;
	font-size:1em;
}
/**para que se ve mas elegenate**/
.form-control:-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}
/**para que se ve mas elegenate**/
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
footer{
    text-align: right;
    color: #000000;
    margin: 10px;
}

/*hace referencia BOTN DEL LOGIN**/
.button02{
	background-color: #022B5F;
	color: white;
	padding: 12px 17px;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 10px;
	transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
	transition-property: initial;
	font-weight:700;
 }
 .button02:hover{
    background-color: #9E8010;   
 }
 /*Finazliza aqui*/
/**analizar el css y el html**/
#container-slider
{
	position: relative;
	display: block;
	width: 100%;
}
#slider {
	position: relative;
	display: block;
	width: 100%;
	height: 100vh;
	min-height: 400px;
}
#slider li {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: 100%;
	height: 100%;
	display: block;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	z-index: -1;
	opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
	font-size: 30px;
	color: rgba(204, 204, 204, 0.65);
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50px;
	z-index: 2; 
}
/*j*/
#container-slider .arrowNext {
	left: initial;
	right: 50px !important;
}
.content_slider{
	padding: 15px 30px;
	color: #FFF;
	width: 100%;
	height: 100%;
}
.content_slider div{
	text-align: center;
}
.content_slider h2{
	font-family: 'arial';
	font-size: 30pt;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.content_slider p {
	font-size: 15pt;
	font-family: 'arial';
	color: #FFF;
	margin-bottom: 20px;
}
#slider li .content_slider{
	background: rgba(0, 0, 0, 0.50);
	padding: 10px 125px;
}
.content_slider{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btnSlider{
	color: #FFF;
	font-size: 15px;
	font-family: 'arial';
	letter-spacing: 1px;
	padding: 10px 50px;
	border: 1px solid #CCC;
	background: rgba(13, 13, 13, 0.55);
	border-radius: 31px;
	text-decoration: none;
	transition: .5s all;
}
.btnSlider:hover{
	background: #111;
	border: 1px solid #111;
}
.listslider {
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 50%;
	bottom: 5%;
	list-style: none;
	z-index: 2;
	transform: translateX(-50%);
}
.listslider li {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	cursor: pointer;
	margin: 0 5px;
}
.listslider li a {
	background: #CCC;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	display: block;
}
.item-select-slid {
	background: #FFF  !important;
}

@media screen and (max-width: 460px){
	.content_slider h2 {
		font-size: 15px !important;
	}
	.content_slider p {
		font-size: 12px !important;
	}
	#container-slider .arrowPrev, #container-slider .arrowNext{
		font-size: 20pt;
	}
	#container-slider .arrowPrev{
		left: 15px;
	}
	#container-slider .arrowNext{
		right: 15px !important;
	}
	#slider{
		height: 700px;
		min-height: 400px;
	}
	#slider li .content_slider{
		padding: 10px 35px;
	}
	.btnSlider{
		padding: 10px 30px;
		font-size: 10pt;
	}

}

.home{
	
	margin: 10px;
}
 .login__home{
	 background-color: #fff;
	 padding: 120px;
	 text-align:left;
	 text-decoration: none;
	 color: #000000;
	 margin: 17px;
	 font-size: 1.3em;
 }


 @media screen and (max-width: 460px){
	 .login__home{
		 margin: 15px;
	 }
	 .home{
		 margin: 10px;
		 text-align: center;
	 }
 }


img{
	display: block;
  margin: 1px auto;
  max-width:380px;
  
  border: #000000;
 }

.mostrarClave{
	margin: 10px;
	background-color: #9E8010;
	border-radius: 15px;
	color: white;
	text-decoration: none;
	font-size: .9em;
	border: #166FE5;
}

.br-logo{
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
}

.alert{
	
	color: rgb(252, 38, 38);
	font-size: .9em;
	margin: -15px;
	
	
}
.dust-paarticle
{
  position: absolute;
    width: 100%;
	
}

#snell
{
  position:absolute;
  top:0;
  width:100%;
  margin:20px;
}

#eye1
{
animation: swing ease-in-out .6s infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
    left: calc(52% - 5rem);
}

#eye2
{
animation: swing ease-in-out .8s infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
    left: calc(40% - .0rem);
}


#dust-paarticle path
{
 	 transform-box: fill-box;
	transform-origin: center;
}

/*************swing************/
@keyframes swing {
    0% { transform: rotate(8deg); }
    100% { transform: rotate(-8deg); }
}


.position-set
{
position:absolute;
  top:50%;
}


table{
	text-align: center;
	font-size: 1.2em;
	color: black;
	background-color: #eccc58;
}

table th{
	background-color: #eccc58;
	color: black;
	text-align: center;
	font-size: 1.2em;
}
tr th{
	color: black;
}

.br-sideleft{
	background-color: #eccc58;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}


.br-menu-link{
	color: black;
	text-decoration: none;
	font-size: 1.2em;
	
}
.menu01{
	color: black;
	font-size: 1.2em;
	text-align: center;
}

.lista{
	text-align: center;
	font-size: 1.2em;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	
}
.lista0{
	
	font-size: 1.2em;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	
}

.table,table-bordered{
	
	font-size: 1.2em;
	color: black;
	
}

.total{
	font-size: 1.2em;
	color: black;
	
}

.formulario{
	border: 2px solid #08276b ;
	/*height: 40px;*/
	padding: 0 10px;
	font-size: 1.5em;
	color: #000000	;
	border-radius: 10px;
	width: 100%;
	height: 62px;
	
}
*le indico que toodo el texto se centre en input**/
.formulario:hover{
	color: #9E8010	;
	border: 3px solid #9E8010;
	
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
}
/*le indico que todo el texto se centre en input**/
.formulario:focus{
	border: 2px solid #204ee8;
}
/***estilos para el text dentro de input**/
.formulario::placeholder{
	color: #000000;
	font-size:1em;
}
/**para que se ve mas elegenate**/
.formulario:-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}

#btngurdar{
	background-color: #9E8010;
	color: white;
	padding: 14px 20px;
	border: none;
	cursor: pointer;
	border-radius: 18px;
	transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
	transition-property: initial;
	font-weight:700;
	width: 25%;
}
#btngurdar:hover{
	background-color: #022B5F;
	width: 100%;
}